* {
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #e3e2e2;
}

.container {
    margin-top: 30px;
    margin-left: 30px;
    width: 200px;
    height: 600px;
    border: solid 2px #d8d8d8;
    border-radius: 5px;
    background: rgb(236, 236, 236);
}

.buttonLogOut {
    width: 90px;
    height: 40px;
    background-color: #f97878;
    margin-left: 50px;
    border: 1px solid #e83d3d;
    border-radius: 9px;
    margin-top: 10px;


}